body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E6F0FA;
    margin: 50px;
    display: block;
}

#penjelasan{
    margin-bottom: 10px;
    width: 50%;
    font-size: 1.5em;
}

.container {
    width: 50%;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    display: flex;
    justify-content: center;
}

.right{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.right article{
    text-align: center;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="reset"] {
    background-color: #f44336;
    color: white;
}

.result {

    padding: 10px;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.result h3 {
    margin: 10px 0;
}

.result button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
}

.result button + button {
    background-color: #007BFF;
    color: white;
    margin-left: 10px;
}
